alembic==1.10.4
azure-common==1.1.28
azure-nspkg==3.0.2
azure-storage==0.36.0
certifi>=2020.6.20
cffi>=1.14.6
chardet>=3.0.4
Click>=7.1.2
cryptography>=3.4.8
Flask==2.2.5
Flask-Login>=0.6.2
Flask-Session>=0.4.0
Flask-SQLAlchemy>=2.5.1
Flask-WTF>=1.0.1
idna>=2.10
itsdangerous>=2.1.2
Jinja2>=3.0.3
Mako>=1.2.4
MarkupSafe>=2.1.1
msal>=1.19.0
pycparser>=2.20
pyodbc>=4.0.34
pyOpenSSL>=23.0.0
python-dateutil>=2.8.2
python-editor>=1.0.4
requests>=2.28.2
setuptools>=65.6.3
six>=1.16.0
SQLAlchemy>=1.4.47
urllib3>=1.26.15
Werkzeug>=2.2.3
WTForms>=3.0.1
cachelib==0.13.0
